.tabs .indicator{
  background-color:#03a9f4 ;
}
.btn-floating.halfway-fab{
  bottom:5px;
  box-shadow: 1px 1px 0.5 red;
}
.pagination li.active{
  background-color:#03a9f4 !important;
  color: #FFF !important;
}
